{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/instructor/courses"), ("Profile", "/dashboard/instructor/profile"), ("Sign Out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<style>
  #AddQuestionForm{
  	display: none;
      width: 300px;
      border: 1px solid #ccc;
      padding: 14px;
      background: #ececec;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }


</style>

<script>
$(document).ready(function(){
  $('#editQuestionBtn').click(function(){
        if ($(this).html() == "Save") {
          var schemaContent = $('#schema').text();
          var parsedSchemas = [];
          for (var line of schemaContent.trim().split(/\n/)) {
            var trimmed = line.trim();
            if (trimmed.length > 0) {
                parsedSchemas.push(trimmed);
            }
          }
          var encodedSchema = parsedSchemas.join("|");

          var data = {
            schemas: encodedSchema,
            question: $('#question').html()

          }
          $.post("/dashboard/instructor/edit-question/{{q.id}}", data, function(data, status){
            window.location.href = "/dashboard/instructor/question/{{q.id}}";
          });
        } else {
            $('#schema').attr("contenteditable", true);
            $('#question').attr("contenteditable", true);
            $(this).html("Save");
        }

  });

  $('#startQuestionBtn').click(function() {
    if ($(this).html() == "Start") {
        $(this).html('End');
        var data = {
            crn: $(this).data('crn'),
            qid: $(this).data('qid')
        }
        $.post("/set-active-question", data, function(data, status) {
            console.log(`${data} and status is ${status}`)
        });
    } else {
        $(this).html('Start');
        var data = {
            crn: $(this).data('crn'),
            qid: "null",
        }
        $.post("/set-active-question", data, function(data, status) {
            console.log(`${data} and status is ${status}`)
        });

    }
  });

});



</script>


<main role="main" class="inner cover">
    <!--question div-->
    <div style="background-color: #505c61; padding:10px;  overflow: hidden">
        <button class="btn btn-warning btn-sm" id="editQuestionBtn" style="float:right">Edit</button>
        <button class="btn btn-danger btn-sm" id="startQuestionBtn" style="float:right" data-qid="{{q.id}}" data-crn="{{q.CRN}}">
        {% if is_active %} End {% else %} Start {% endif %}
        </button>
        {% if q.schemas is not none %}
        <div style="color:#7a9fab;">
            <div style="font-family:monospace">Schemas: </div>
                <!--schemas is stored (in db) in the format of: Employee(id,name,gender,salary)|Project(id,name)-->
                <p id="schema" style="font-family:monospace"> {% for schema in q.schemas.split("|") %}
                    {{schema}}<br>
                    {% endfor %} </p>
            </p>
        </div>
        {% endif %}
        <p id="question">{{q.question}}</p>
        <button class="btn btn-info" style="float:right" onclick="window.open('/analyze-responses/{{q.id}}','_blank')">Analyze responses</button>
    </div>



    <!--response divs-->
    {% for student, response in responses %}
    <div style="background-color: #7a9ba9; padding:10px; margin-top:10px;">
        <p style="text-align:right;  color:#324b54; text-shadow:none;">{{student}}</p>
        <p style="font-family:monospace;">{{response}}</p>
    </div>
    {% endfor %}
</main>


{% endblock %}
