{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<style>
#AddCourseForm{
	display: none;
    width: 300px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>

<script>
$(document).ready(function(){
	$('#AddCourseBtn').click(function(){
  		$('#AddCourseForm').toggle(500);
  });
});
</script>

<form action="/logout" method="post">
    <button type="submit" style="float: right;">Log Out</button>
</form>

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Instructor Dashboard for {{current_user.name}}</h2>
      </div>

<hr>

<h4>Courses</h4>
    <table>
    <tbody>
    <tr>
        <td>CRN</td>
        <td>title</td>
        <td>year</td>
        <td>term</td>
    </tr>
      {% for c in courses %}
        <tr>
          <td>{{ c.CRN }}</td>
          <td>{{ c.title }}</td>
          <td>{{ c.year }}</td>
          <td>{{ c.term }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
<br>
<button id="AddCourseBtn" class="btn btn-primary">Add Course</button>
<form id="AddCourseForm" action="/dashboard/instructor/courses" method="post">
    {{ add_course_form.hidden_tag() }}
    {{ macros.render_field(add_course_form.CRN, placeholder='24521', label_visible=true) }}
    {{ macros.render_field(add_course_form.title, placeholder='CS 411', label_visible=true) }}
    {{ macros.render_field(add_course_form.year, placeholder='2019', label_visible=true) }}
    {{ macros.render_field(add_course_form.term, placeholder='spring', label_visible=true) }}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

{% endblock %}