{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/instructor/courses"), ("Profile", "/dashboard/instructor/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<style>
#AddCourseForm{
	display: none;
    width: 300px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>

<script>
$(document).ready(function(){
	$('#AddCourseBtn').click(function(){
  		$('#AddCourseForm').toggle(500);
  });
});
</script>


<main role="main" class="inner cover">
    <h2 class="cover-heading" style="float:left">Questions for {{course_title}}</h2>
    <!--<form>-->
        <!--<button type="submit" style="float:right" class="btn btn-secondary" formaction="/course/delete/{{course_CRN}}" formmethod="post"> Delete course </button>-->
    <!--</form>-->

    <table>
        <tr>
            <th>session date</th>
            <th># questions</th>
        </tr>
        {% for date, cnt in session_info %}
        <tr>
            <td><a href="/dashboard/instructor/{{course_CRN}}/{{date[:10]}}">{{date[:10]}}</a></td>
            <td>{{cnt}}</td>
        </tr>
        {% endfor %}
    </table>
</main>

<!--<div align="center">-->


		<!--<form>-->
        <!--<button type="submit" formaction="/dashboard/instructor/course/question/{{course_CRN}}" formmethod="get"> Questions </button>-->
    <!--</form>-->
<!--</div>-->

{% endblock %}
