{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Log In</h1>
    <hr>

    <form method="post" action="/login"  id="db_post" name="db_post">
        {{ form.hidden_tag() }}
        {{ macros.render_field(form.email, placeholder='example@illinois.edu', type='email', label_visible=true) }}
        {{ macros.render_field(form.password, placeholder='Your password here', type='password', label_visible=true) }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

  </main>

{% endblock %}