{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Log In Page</h2>
      </div>

<hr>

<form method="post" action="/login"  id="db_post" name="db_post">

    {{ form.hidden_tag() }}

    {{ macros.render_field(form.email, placeholder='abc@illinois.edu', type='email', label_visible=true) }}
    {{ macros.render_field(form.password, type='password', label_visible=true) }}

    <div align="center"><button type="submit" class="btn btn-primary">Log In</button></p></div>

</form>

</div>

{% endblock %}