{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/instructor/courses"), ("Profile", "/dashboard/instructor/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Profile" %}
{% block content %}

<main role="main" class="inner cover">
    <form id="UserProfileForm" action="/dashboard/student/profile" method="post">
        {{ update_profile_form.hidden_tag() }}
        {{ macros.render_field(update_profile_form.name, value= user.name, label_visible=true) }}
        {{ macros.render_field(update_profile_form.email, value= user.email, label_visible=true) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>




{% endblock %}
