{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/student/courses"), ("Profile", "/dashboard/student/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<style>
textarea {
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: monospace;
}
</style>

<main role="main" class="inner cover">
    <h2 class="cover-heading">Question</h2>
        {% if question is none %}
          <p>No question at this moment :)</p>
        {% else %}
          <div style="margin:20; word-wrap: break-word;">
              <p style="margin-left:10">{{question}}</p>
              <textarea rows="10" cols="50"></textarea>
          </div>
        {% endif %}
</main>

{% endblock %}
