{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/student/courses"), ("Profile", "/dashboard/student/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<div class="col-md-4 col-md-offset-4">

      <div align="center">
        <h2>Student Dashboard for {{current_user.name}}</h2>
      </div>

<hr>

<form method="post" action="/dashboard/student" id="db_post" name="db_view">

    {{ form2.hidden_tag() }}
    {{ macros.render_field(form2.CRN, placeholder='Enter the CRN of course to register', label_visible=false) }}

    <div align="center"><button type="submit" class="btn btn-primary">Search</button></p></div>

</form>

<form method="get" action="/dashboard/student/courses" id="db_post" name="db_view">

    <div align="center"><button type="submit" class="btn btn-primary">Registered Courses</button></p></div>

</form>
</div>

{% endblock %}
