{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/student/courses"), ("Profile", "/dashboard/student/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<style>
textarea {
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: monospace;
    width:100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;}
</style>

<main role="main" class="inner cover">
    <h2 class="cover-heading">Question</h2>
        {% if question is none %}
          <p>No question at this moment :)</p>
        {% else %}
          <div style="margin:20; word-wrap: break-word;">
              <p style="margin-left:10">{{question[1]}}</p>
              <form method="post">
                <input type="hidden" name="qid" value="{{question[0]}}">
                <input type="hidden" name="q_content" value="{{question[1]}}">
                <textarea name="response" rows="10">{{response}}</textarea> <br>
                  {% if msg is defined %}
                    <small class="text-muted">{{msg}}</small>
                  {% endif %}
                <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
              </form>
          </div>
        {% endif %}
</main>

{% endblock %}
