{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/student/courses"), ("Profile", "/dashboard/student/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<style>


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>

<main role="main">

    <div class="container-fluid">

      <h1 class="cover-heading">Student Panel</h1>
      <br>
      <br>

      <h3>Welcome back, {{current_user.name}}.</h3>
      <h3>Your current course(s):</h3>
      <br>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">CRN</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Term</th>
            <th scope="col">Instructor</th>
            <th scope="col">Chatroom</th>
          </tr>
        </thead>
        <tbody>
          {% for c in courses %}
              <tr>
                <td>{{ c.CRN }}</td>
                  <td><a href="/dashboard/student/course/{{c.CRN}}">{{ c.title }}</a></td>
                <td>{{ c.year }}</td>
                <td>{{ c.term }}</td>
                <td>{{ c.instructor }}</td>
                <td><button onclick="window.open('/chatroom/{{c.CRN}}','_blank')">Enter chatroom</button></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      
      
      <br>
      <button class="btn btn-primary" onclick="location.href = '/dashboard/student/add-course';">Add another course</button>
  
      </div>

</main>
  
  
{% endblock %}
