{% extends "base.html" %} {% import 'macros.html' as macros %}
{% set nav_tabs = [("Home", "/dashboard/student/courses"), ("Profile", "/dashboard/student/profile"), ("Log out", "/logout")] %}
{% set active_tab = "Home" %}
{% block content %}

<style>


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>

<main role="main" class="inner cover">
    <h2 class="cover-heading" style="float:left">Registered Courses</h2>
    <table>
        <tbody>
        <tr>
            <td>CRN</td>
            <td>title</td>
            <td>year</td>
            <td>term</td>
            <td>instructor</td>
        </tr>
        {% for c in courses %}
        <tr>
            <td>{{ c.CRN }}</td>
            <td><a href="/dashboard/student/course/{{c.CRN}}">{{ c.title }}</a></td>
            <td>{{ c.year }}</td>
            <td>{{ c.term }}</td>
            <td>{{ c.instructor }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" onclick="location.href = '/dashboard/student/add-course';">Add another course</button>
</main>

{% endblock %}
