<html><head>
<meta charset="UTF-8">
<title>Welcome to :) app</title>
<link href="test.css" rel="stylesheet" media="screen" type="text/css">
<meta name="description" content="do you want to use it">
<meta name="keywords" content=" you find it">
<script async="" src="//www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22787990-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
<div id="top">
<div id="top_img">
<main id="top_main">
<div id="top_logo"><img src="test.png" ></div>
<div id="top_title"><img id="top_title01" alt=":)" src="smile.jpg">
<ul id="top_navlist">
<a class="top_nav" href="signup.html"><li>Sign Up</li></a>
<a class="top_nav" href="login.html"><li>Log in</li></a>
<a class="top_nav" href="/wp/comic.html"><li>COMIC</li></a>
<a class="top_nav" href="/wp/game.html"><li>GAMES</li></a>

</ul>
</main>
<footer id="top_footer">
<span id="top_copyright">
<hr class="top_hr_style02">


<audio autoplay="autoplay"><source src="rain-06.mp3" type="audio/mpeg"></audio>


<hr class="top_hr_style02">
<a href="/wp/"> : ) </a> Test model only <a href="/wp/sitemap.html">CONSTURTING</a>
</span>
</footer>
</div>
</div>


</body></html>